.facility {
  width: 100%;
  height: 100%;
  background-color: #eeeeee !important;
  &_title {
    width: 93%;
    top: 5%;
    left: 2%;
    position: relative;
    &-L {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #7e7d88;
      img {
        margin: 0px 9px 0px 9px;
      }
    }
    &-R {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #ff7506;
      img {
        margin: 0px 9px 0px 9px;
      }
    }
    &-T {
      position: absolute;
      top: 4%;
      left: 90%;
      box-shadow: 0px 0px 0px rgba(219, 219, 219, 0.5) !important;
      border-radius: 0 !important;
    }
  }
  &_contentT {
    width: 80%;
    top: 16%;
    left: 2%;
    position: relative;
    h1 {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 27px;
      line-height: 36px;
      color: #ff7506;
    }
  }
  &_top {
    &--title {
      margin-top: 4%;
      padding-left: 16%;
      h1 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        color: #ff7506;
      }
    }
    &--groupBtn {
      display: flex;
      justify-content: flex-start;
      width: 80%;
      padding-left: 2%;
      &-active,
      &-activeS {
        &_title {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #282739;
        }
      }
      &-searchD {
        &_titleD {
          position: relative;
          margin-left: 220%;
          width: 100% !important;
          font-family: "Nunito" !important;
          font-style: normal !important;
          font-weight: 600 !important;
          font-size: 16px !important;
          line-height: 24px !important;
          color: #282739 !important;
        }
      }
      &-searchA {
        &_titleA {
          position: relative;
          margin-left: 200%;
          width: 100% !important;
          font-family: "Nunito" !important;
          font-style: normal !important;
          font-weight: 600 !important;
          font-size: 16px !important;
          line-height: 24px !important;
          color: #282739 !important;
        }
      }
      &-searchR {
        &_titleR {
          position: relative;
          margin-left: 288%;
          width: 100% !important;
          font-family: "Nunito" !important;
          font-style: normal !important;
          font-weight: 600 !important;
          font-size: 16px !important;
          line-height: 24px !important;
          color: #282739 !important;
        }
      }
      &-search {
        &_title {
          width: 100%;
          margin-left: 55%;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #282739;
        }
      }
      &-connect {
        margin-left: 9%;
        &_title {
          margin-left: 50px;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;

          color: #282739;
        }
      }
      &-time {
        &_title {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #282739;
        }
      }
    }
    .ant-select-selector {
      height: 45px !important;
      align-items: center;
    }
    &--addBtn {
      width: 80px !important;
      height: auto !important;
      background-color: #fff2e7 !important;
      position: absolute;
      top: 25%;
      right: 0;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #ff7506 !important;
        margin: 4px 0px;
      }
      svg {
        margin-left: 35%;
        margin-top: 10%;
        width: 30px !important;
        height: 30px !important;
        path {
          color: #ff7506;
        }
      }
    }
    &--table {
      display: flex;
      // left: -109px;
      position: relative;
    }
    .ant-table-wrapper {
      width: 94% !important;
      padding-left: 40px;
      margin-top: 20px;
    }
    .ant-table-thead > tr > th {
      color: white;
      background: #ff7506 !important;
    }
    .table-row-light {
      background-color: #ffffff;
    }
    .table-row-dark {
      background-color: #fff2e7;
    }
    .ant-pagination {
      display: flex;
      position: absolute;
      margin-top: 35%;
      right: 6%;
    }
    .page-link {
      border: none;
      background-color: #eeeeee;
    }
  }
  .formAdd {
    margin-top: 9%;
    margin-left: 18%;
    width: 1600px;
    height: 600px;
    background-color: #ffffff;
    .title {
      margin-top: 15px;
      h1 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 30px;
        color: #ff7506;
      }
    }
    p {
      span {
        color: #ec3740;
      }
    }
    .ant-row {
      margin-left: 3%;
      .ant-form-item {
        margin-left: 0;
      }
    }
    .ant-select-dropdown {
      border-radius: 15px !important;
    }
    .ant-form-item-control-input-content {
      p {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      input,
      .ant-select-selector {
        width: 540px;
        height: 44px;
        background: #ffffff;
        border: 1.5px solid #d4d4d7;
        box-sizing: border-box;
        border-radius: 8px;
      }
    }
    .ant-select-arrow {
      left: 505px;
    }
    .note {
      margin-top: 3%;
      margin-left: 7%;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
    }
    &_btnGroup {
      display: flex;
      float: left;
      margin-top: 9%;
      justify-content: center;
      margin-left: 33%;
      &-btnCancel {
        margin-right: 3%;
        float: left;
        margin-top: 2%;
        &--cancel {
          width: 180px;
          height: 50px;
          border: 1px solid #ff7506;
          color: #ff7506;
          border-radius: 8px;
        }
        a {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
        }
      }
      &-btnCreate {
        margin-top: 2%;
        &--create {
          width: 180px;
          background-color: #ff7506;
          color: white;
          height: 50px;
          border-radius: 8px;
        }
        a {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    .selectService {
      .ant-select-selector {
        width: 92% !important;
      }
    }
  }
  .formDetail {
    margin-top: 9%;
    margin-left: 23%;
    width: 1400px;
    height: 600px;
    background-color: #ffffff;

    &_title {
      margin-left: 5%;
      display: flex;
      float: left;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #282739;
    }
    &_content {
      padding-left: 25%;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;
      color: #535261;
    }
    &_titleS {
      margin-left: 2.5%;
      display: flex;
      float: left;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #282739;
    }
    &_contentS {
      margin-left: 2.5%;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 24px;
      color: #535261;
    }
    .title {
      margin-left: 2.5%;
      margin-top: 3%;
      margin-bottom: 3%;
      h1 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
        color: #ff7506;
      }
    }
  }
  .ant-select-selection-overflow-item {
    .ant-select-selection-item {
      border-radius: 9px;
      background-color: #ffac6a;
      width: 178px;
      height: 40px;

      .ant-select-selection-item-content,
      .ant-select-selection-item-remove {
        color: #ffffff;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 16 px;
        line-height: 19px;
        margin-left: 15px;
        margin-top: 5px;
      }
    }
  }
}

table {
  margin-top: 3%;
  width: 92%;
  border-radius: 15px;
  margin-left: 39px;
  border-collapse: separate !important;
  .header {
    display: table-row;
    height: 50px !important;
    border: 1px solid #ffe3cd;
    color: #ffffff;
    background-color: #ff9138;
    th {
      display: table-cell;
      border-right: 1px solid #ffffff;
    }
    th:first-child {
      border-top-left-radius: 15px;
    }
    th:last-child {
      border-top-right-radius: 15px;
    }
  }
  .center {
    background-color: #ffffff;
    td {
      position: relative;
      padding-left: 3%;
      border: 1px solid #ffe3cd;
    }
    .detail,
    .update {
      padding-left: 1% !important;
    }
    .inactive {
      display: flex;
      align-items: center;
      svg {
        width: 30px;
        height: 30px;
        color: #ec3740;
      }
    }
    .active {
      display: flex;
      align-items: center;
      svg {
        width: 30px;
        height: 30px;
        color: #34cd26;
      }
    }
  }
}
.pagination {
  position: absolute;
  margin-top: 35%;
  margin-left: 80%;
  .previous,
  .next {
    margin-top: 1%;
  }
  .previous {
    margin-right: 15px;
  }
  .next {
    margin-left: 15px;
  }
  .page-item {
    &.active {
      .page-link {
        background-color: #ff7506 !important;
        border-color: none !important;
      }
    }
    a {
      color: black;
      border-radius: 5px !important;
    }
  }
}
.openN {
  width: 400px;
  height: 620px;
  margin-top: 2%;
  left: 82%;
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 99;
  position: absolute;
  &_titleN {
    background-color: #ff9138;
    border-radius: 10px 10px 0 0;
    height: 60px;
    h1 {
      top: 3%;
      left: 7%;
      position: absolute;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
      color: #ffffff;
    }
  }
  &_contentN {
    height: 90px;
    width: 100%;
    &--topN,
    &--bottomN {
      position: relative;
      top: 20%;
      left: 7%;
    }
    &--topN {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #bf5805;
    }
    &-bottomN {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #535261;
    }
    &:hover {
      background-color: #fff2e7;
    }
  }
}
.closedN {
  display: none;
}
.iconNotificationN {
  position: relative;
  top: 4%;
  left: 56%;
}
.iconNotificationC {
  position: relative;
  top: 4%;
  left: 47%;
}
.iconNotificationD {
  position: relative;
  top: 4%;
  left: 51%;
}
.iconNotificationU {
  position: relative;
  top: 4%;
  left: 45%;
}
.iconNotificationT {
  position: relative;
  top: 4%;
  left: 53%;
}
.iconNotificationR {
  position: relative;
  top: 4%;
  left: 59%;
}
.iconNotificationL {
  position: relative;
  top: 4%;
  left: 52%;
}
.iconNotificationCR {
  position: relative;
  top: 4%;
  left: 44%;
}
