.facility {
  .formAddRole {
    display: flex;
    margin-left: 18%;
    margin-top: 10%;
    width: 1600px;
    height: 650px;
    background-color: #ffffff;
    &_title {
      width: 100%;
      height: 70px;
      h1 {
        margin-top: 1%;
        margin-left: 2.5%;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #ff7506;
      }
    }
    &_content {
      // margin-top: -17%;
      &-L {
        width: 100%;
        &--title {
          margin-left: 5%;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #282739;
        }
        input,
        textarea {
          width: 80%;
          margin-left: 5%;
        }
        &--titleNote {
          margin-left: 5%;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #7e7d88;
        }
      }
      &-R {
        width: 100%;
        &--centerT {
          margin-bottom: 0px !important;
        }
        &--title {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #282739;
        }
        &--center {
          background-color: #fff2e7;
          &-titleT {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #ff7506;
          }

          &-titleC {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            color: #535261;
          }
        }
      }
    }
  }
}
.ant-row {
  width: 100%;
}
