
.model{
    z-index: 1;
    width: 450px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
    margin-left: 24px;
    margin-bottom: 12px;
    display: flex;
    &__L{
        display: flex;
        &--chart{
            margin-left: 16px;
            margin-top: 12px;
            display: block;
            
            &-B{
                display: block;
                width: 80px;
                height: 80px;
                z-index: 2;
            }
            &-S{
                margin-top: -107px;
                width: 70px;
                height: 70px;
                z-index: 1;
                margin-left: 5px;
            }
            &-SL{
                display: block;
                margin-top: -93px;
                width: 60px;
                height: 60px;
                z-index: 0;
                margin-left: 10px;
            }
        }
        &--content{
            margin-left: 12px;
            margin-top: 14px;
            &-count{
                font-family: "Nunito";
                font-style: normal;
                font-weight: 800;
                font-size: 26px;
                line-height: 36px;
                color: #535261;
            }
            &-title{
                display: flex;
                &-icon{
                    width: 14px;
                    height: 14px;
                    margin-top: 1px;
                    margin-right: 4px;
                }
                &-name{
                    font-family:"Nunito";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 21px;
                }
            }

        }
    }
    &__R{
        margin-top: 18px;
        &--content{
            margin-left: 37px;
            display: flex;
            &-icon{
                font-size: 34px;
                margin-top: -29px;
                margin-right: 4px;
            }
            &-title{
              
                font-family: "Nunito";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #7E7D88;
                width: 100px;
            }
            &-count{
                margin-top: 3px;
                font-family: "Nunito";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
            }
        }
        
        
    }
}