@import "~antd/dist/antd.css";

.forgot {
  display: flex;
  width: 100%;
  height: 100%;
}
.formForgot {
  margin-top: 18%;
  h1 {
    margin-left: 25%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: #282739;
  }
  .ant-form-item {
    p {
      margin-left: 1%;
      margin-top: 2%;
      margin-bottom: 3%;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 27px;
      color: #37474f;
    }
  }
}
.forgotLeft {
  background-color: #f2f2f2;
  width: 700px;
  height: 100%;
  .logoAlta {
    padding-top: 13%;
    display: flex;
    justify-content: center;
    img {
      width: 200px;
    }
  }
  .ant-input {
    width: 480px;
    height: 50px;
    border-radius: 8px;
  }
  .ant-form-item-control-input-content {
    margin-left: 15%;
  }
}

.forgotRight {
  margin: 5% 0 0 5%;
  display: flex;
  justify-content: center;
  .imageForgotR {
    img {
      width: 950px;
      height: 800px;
    }
  }
}

.btnGroup {
  display: flex;
  justify-content: center;
  margin-top: 9%;
  .btnForgotCancel {
    margin-right: 3%;
    .btnCancel {
      width: 180px;
      height: 50px;
      border: 1px solid #ff7506;
      color: #ff7506;
      border-radius: 8px;
    }
    a {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }
  .btnForgotConfirm {
    .btnConfirm {
      width: 180px;
      background-color:  #ff7506;
      color: white;
      height: 50px;
      border-radius: 8px;
    }
    a {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
