.dropdown{
    height: 72px;
    padding: 0px;
  
    z-index: 2  ;
    &__header{
        display: block;
        &--title{
            
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #282739;
        }
    }
    
    &__button{
        outline: none;
        display: flex;
        height: 44px;
        margin-top: 2px;
        padding: 0px;
        border: 1.5px solid #D4D4D7;
        border-radius: 8px;
        background: #ffffff;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &.special{
            height: 80px;
            border: 1.5px solid #FFAC6A;
            box-sizing: border-box;
            border-radius: 8px;
        }
        &--title{
          
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #535261;
            margin-left:10px;
        }
        &--icon{
            width: 20px;
            height: 20px;
            margin-right:18px;
        }
    }
    &__button.active{
        border: 1.5px solid #FFAC6A;
    }
    &__list.active{
        display: block;
    
               
            
        }

    
    &__list{
        display: none;
        position: absolute;
        outline: none;
        max-height: 192px;
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        justify-content: center;
        &--content{
            
            display: grid;
            padding-top: 8px;
            padding-bottom: 8px;
            
            &-item{
                border: none;
                display: flex;
                align-items: center;
                background: #FFFFFF;
                cursor: pointer;
                height: 44px;
                &-title{
                    @extend .dropdown__button--title;
                    margin-left:6px;
                }
                &:hover{
                    background: #FFF2E7;
                }
            }
        } 
    }
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    20% {
        transform: scaleY(0.2)
    }
    30% {
        transform: scaleY(0.3)
    }
    40% {
        transform: scaleY(0.4)
    }
    50% {
        transform: scaleY(0.5)
    }
    60% {
        transform: scaleY(0.6)
    }
    70% {
        transform: scaleY(0.7)
    }
    80% {
        transform: scaleY(0.8)
    }
    90% {
        transform: scaleY(0.9)
    }
    100% {
        transform: scaleY(1)
    }
}