.ant-input-password {
  border-radius: 8px;
  width: 67.5%;
  height: 44px;
  padding: 0px 11px !important;
  .ant-input {
    border-color: #ffffff !important;
  }
  input {
    height: 42px;
  }
}

.facility {
  .btnGroupA {
    display: flex;
    float: left;
    margin-top: 1%;
    justify-content: center;
    margin-left: 33%;
    &-btnCancel {
      margin-right: 5%;
      float: left;
      margin-top: 2%;
      &--cancel {
        width: 180px;
        height: 50px;
        border: 1px solid #ff7506;
        color: #ff7506;
        border-radius: 8px;
      }
      a {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }
    }
    &-btnCreate {
      margin-top: 2%;
      &--create {
        width: 180px;
        background-color: #ff7506;
        color: white;
        height: 50px;
        border-radius: 8px;
      }
      a {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
