.facility {
  &_top {
    &--groupBtn {
      width: 72%;

      &-activeN,
      &-serviceN,
      &-sourceN {
        width: 300px !important;
        height: 50px !important;
      }
      &-timeN {
        width: 600px !important;
        height: 50px !important;
        padding-left: 1%;
        .leftCalendar,
        .rightCalendar {
          width: 170px;
        }
      }
      &-activeN,
      &-serviceN,
      &-sourceN,
      &-timeN,
      &-searchN {
        &_title {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #282739;
        }
      }
      &-searchN {
        &_title {
          margin-left: 45%;
        }
      }
      &-activeN,
      &-sourceN {
        &_title {
          margin-left: 8%;
        }
      }
    }
  }
  .formAddNumber {
    margin-top: 9%;
    margin-left: 14%;
    width: 85%;
    height: 600px;
    background-color: #ffffff;
    border-radius: 15px;
    &_title {
      margin-top: 1%;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 48px;
      color: #ff7506;
    }
    &_title,
    &_content {
      display: flex;
      justify-content: center;
      width: 63%;
      margin-left: 20%;
      &_titleContent {
        max-width: 80% !important;
        margin-right: -4%;
        h1 {
          font-family: "Nunito";
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 30px;
          color: #535261;
        }
      }
    }

    &_content {
      margin-left: 36% !important;
      .ant-select-selector {
        width: 500px !important;
        height: 60px;
      }
      .ant-select-single {
        width: 500px !important;
        height: 55px;
      }
      .ant-select-selection-placeholder,
      .ant-select-selection-item {
        font-size: 18px !important;
        margin-top: 2% !important;
      }
      .ant-select-item-option {
        height: 50px !important;
        margin-top: 1% !important;
      }
    }
  }

  .btnGroupN {
    display: flex;
    float: left;
    margin-top: 6%;
    justify-content: center;
    margin-left: 41%;
    &-btnCancel {
      margin-right: 5%;
      float: left;
      margin-top: 2%;
      &--cancel {
        width: 180px;
        height: 50px;
        border: 1px solid #ff7506;
        color: #ff7506;
        border-radius: 8px;
      }
      a {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }
    }
    &-btnCreate {
      margin-top: 2%;
      &--create {
        width: 180px;
        background-color: #ff7506;
        color: white;
        height: 50px;
        border-radius: 8px;
      }
      a {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

.ant-modal-content {
  border-radius: 15px !important  ;
  .ant-modal-body {
    padding: 0 !important;
  }
}

.modal {
  width: 500px !important;
  height: 400px !important;
  justify-content: center;
  display: flex;
  &_top {
    padding-top: 10%;
    height: 260px;
    &_title,
    &_number,
    &_service {
      justify-content: center;
      display: flex;
    }
    &_title {
      h1 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 48px;
        color: #535261;
      }
    }
    &_number {
      h1 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 800;
        font-size: 59px;
        line-height: 60px;
        color: #ff7506;
      }
    }
    &_service {
      h1 {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 27px;
        color: #282739;
      }
    }
  }
  &_bottom {
    border-radius: 0 0 12px 12px;
    background-color: #ff7506;
    height: 116px;
    border-top: 1px solid black !important;
    h1,
    span {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 33px;
      color: #ffffff;
    }
    &_row {
      justify-content: center;
      margin-top: 4%;
      &_title {
      }
      &_time {
        margin-left: 15px;
      }
    }
  }
}
