.cardActive,
.cardCancel,
.cardUsed,
.cardWaiting {
  width: 290px;
  height: 160px;
  background-color: white;
  margin-top: 16%;
  border-radius: 10px;
  h1{
    padding-top: 26px;
    width: 120px;
    height: auto;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  img {
    width: 70px;
    height: 70px;
    margin: 15px;
  }
  &_top {
    display: flex;
  }
  &_bottom {
    display: flex;
    h1 {
        padding-top: 0 !important;
        width: auto !important;
        margin-left: 15px;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 45px;
      color: #535261;
    }
    &--number-up,&--number-down {
        position: relative;  
        left: 90px;
        top: 24px;
      width: 70px;
      height: 17px;
      border-radius: 7.18115px;
      display: flex;
      justify-content: center;
     
      img {
        width: 10px;
        height: 10px;
        margin: 0;
      }
      span {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        color: #ff9138;
      }
       img,span{
        margin-top: 2px ;
    }
    }
    &--number-up{
        background-color:  rgba(255, 149, 1, 0.15);
    }
    &--number-down{
        background-color: rgba(231, 63, 63, 0.15);
    }
  }
}
